<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>image clicky</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet" href="">
        <style>
            .hidden{ 
                display: none; 
            }
            .overlayTick{
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.3);
                overflow: hidden;
                height: 100%;
                animation-name: fadeOut;
                transition: .5s ease-out;
            }
            
            @keyframes fadeOut {
                0% {opacity: 1;}
                100% {opacity: 0; background-color: rgba(0, 0, 0, 0)}
            }

            
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="row position-absolute">
            <!-- Left side -->
            <div class="col-md-6 d-inline-block" style="height: 95vh; overflow-y: scroll">
                <form name="clickedCoord" action="">
                    <input type="hidden" value="" name="xCoordinate">
                    <input type="hidden" value="" name="yCoordinate">
                    <div id="overlay"></div>
                    <img src="{{receipt.receipt_image_url}}" id="pic" style="max-width: 100%; float:left;">
                </form>
            </div>

            <!-- Right side -->
            <div class="col-md-6 pt-5 w-100" style="margin-left: auto;">
                <h2>Splits - the (hopefully) simple bill splitter!</h1>
                <p style="font-size: 1rem">Click the item lines on your receipt. This site will tabulate </p>
                <form class="text-center" name="line1" style="display: inline-block;">
                    <div id="listField" style="padding:1rem">
                        <div id="tryAgain" class="hidden" style="color: red">Please try again!</div>
                    </div>
                    <div id="serviceField">
                        <span>Service 10%:</span>
                        <input disabled class="active" name="service" size="5rem" value="0.00" style="margin-left: 0.5rem">
                        <button type="button" id="service">Disable</button>
                    </div>
                    <div id="taxField">
                        <span>SST 6%:</span>
                        <input disabled class="active" name="sst" size="5rem" value="0.00" style="margin-left: 0.5rem">
                        <button type="button" id="sst">Disable</button>
                    </div>
                    <div id="totalField">
                        <span>Total: </span>
                        <input disabled id="total" name="total" size="5rem" value="0.00" style="margin-left: 0.5rem">
                    </div>
                    <button type="button" id="addLineButton">+</button>
                    <button type="button" id="undoButton">Undo</button>
                    <button type="button" name="clear">Clear</button>
                </form>
            </div>
        </div>
        <script async defer>
            window.onload = function(){
                // make buttons call the functions when clicked
                document.getElementById('addLineButton').addEventListener('click', addLine)
                document.getElementById('undoButton').addEventListener('click', undo)
                $("#sst").click(toggleTaxes)
                $("#service").click(toggleTaxes)
                addLine()
                $('button[name="clear"]')[0].addEventListener('click', function(e){
                    for (let i=0; i<=$('input[name="subtotal"]').length+2; i++){
                        removeLine()
                    }
                    addLine()
                })
            }
            pic = document.getElementById('pic')
            pic.addEventListener('click', clickity)
            var count = 1

            function clickity(e){
                var xCoordinate = e.offsetX;
                var yCoordinate = e.offsetY;
                xCoordinate = parseInt(xCoordinate*'{{ receipt.receipt_width }}'/$('#pic').width())
                yCoordinate = parseInt(yCoordinate*'{{receipt.receipt_height}}'/$('#pic').height())

                var currentInput = line1.description;

                $.ajax({
                    type: "POST",
                    url: "/api/v1/detect/{{receipt.id}}",
                    data: `${xCoordinate}, ${yCoordinate}`,
                    success: function(data, response){
                        console.log(`Successful: ${response}`);
                        console.log(data)
                    }
                }).done(function(data){
                    if (data!='not found'){
                        $('#overlay').toggleClass('overlayTick')
                        if ($('input[name="description"]')[count-2].value){
                            addLine()
                        }
                        for (let i=0; i<count; i++){
                            if (!$('input[name="description"]')[i].value){
                                $('input[name="description"]')[i].value=data.description;
                            }
                            if (!$('input[name="quantity"]')[i].value){
                                $('input[name="quantity"]')[i].addEventListener('input', function(){
                                    $('input[name="subtotal"]')[i].value = parseFloat((parseInt($('input[name="quantity"]')[i].value) * parseFloat($('input[name="price"]')[i].value)).toFixed(2))
                                    addTotal()
                                })
                                $('input[name="quantity"]')[i].value = data.quantity;
                            }
                            if (!$('input[name="price"]')[i].value){
                                $('input[name="price"]')[i].addEventListener('input', function(){
                                    $('input[name="subtotal"]')[i].value = parseFloat((parseInt($('input[name="quantity"]')[i].value) * parseFloat($('input[name="price"]')[i].value)).toFixed(2))
                                    addTotal()
                                })
                                $('input[name="price"]')[i].value = data.unit_price;
                            }
                            if (!$('input[name="subtotal"]')[i].value){
                                $('input[name="subtotal"]')[i].addEventListener('input', function(){
                                    if (isNaN($('input[name="subtotal"]')[i].value)){
                                        $('input[name="subtotal"]')[i].value = 0
                                    }
                                })
                                $('input[name="subtotal"]')[i].value = data.subtotal;
                                break
                            }
                        }
                        addTotal()
                    }else{
                        
                    }
                });
            }
            var abc
            function addLine(){
                var countDisplay = document.createElement("span")
                countDisplay.append(count+'. ')
                var desc = document.createElement("input")
                desc.setAttribute('value', '')
                desc.setAttribute('name', 'description')
                desc.setAttribute('placeholder', 'Item description')
                desc.setAttribute('size', '8rem')
                var qty = document.createElement("input")
                qty.setAttribute('value', '')
                qty.setAttribute('size', '1rem')
                qty.setAttribute('name', 'quantity')
                qty.setAttribute('placeholder', 'Qty')
                var price = document.createElement("input")
                price.setAttribute('value', '')
                price.setAttribute('size', '5rem')
                price.setAttribute('name', 'price')
                price.setAttribute('placeholder', 'Unit price')
                price.addEventListener('input', function(e){
                    abc = e.target
                    console.log(abc)
                    e.target.nextElementSibling.value = parseFloat(e.target.value) * parseInt(e.target.previousElementSibling.value)
                    addTotal()
                    console.log(e.target.nextElementSibling.value)
                    console.log(parseFloat(e.target.value))
                    console.log(parseInt(e.target.previousElementSibling.value))
                })
                var subtotal = document.createElement("input")
                subtotal.setAttribute('value', '')
                subtotal.setAttribute('size', '5rem')
                subtotal.setAttribute('name', 'subtotal')
                subtotal.setAttribute('placeholder', 'Amount')
                subtotal.addEventListener('input', addTotal)
                var newDiv = document.createElement("div")
                newDiv.classList.add("d-flex")
                newDiv.classList.add("flex-row")
                newDiv.appendChild(countDisplay)
                newDiv.appendChild(desc)
                newDiv.appendChild(qty)
                newDiv.appendChild(price)
                newDiv.appendChild(subtotal)
                listField = document.getElementById('listField')
                listField.appendChild(newDiv)
                count++
            }

            function undo(e){
                e.preventDefault()
                removeLine()
                addTotal()
            }

            function addTotal(){
                console.log('checking total')
                let total = 0
                $('input[name="subtotal"]').each(function(i,section){
                    if (section.value && !isNaN(section.value)){
                        total += parseFloat(section.value)
                    }
                })
                tempTotal = total //prevent multiplicative addition for the following two taxes
                if ($('input[name="service"]')[0].classList.contains('active')){
                    $('input[name="service"]')[0].value = (tempTotal*0.1).toFixed(2)
                    total += (parseFloat($('input[name="service"]')[0].value))
                } else{
                    $('input[name="service"]')[0].value = 0.00
                }
                if ($('input[name="sst"]')[0].classList.contains('active')){
                    $('input[name="sst"]')[0].value = (tempTotal*0.06).toFixed(2)
                    total += (parseFloat($('input[name="sst"]')[0].value))
                } else{
                    $('input[name="sst"]')[0].value = 0.00
                }
                if (!isNaN(total)){
                    $('input[name="total"]')[0].value=total.toFixed(2)
                }
            }
            
            function toggleTaxes(e){
                e.target.previousElementSibling.classList.toggle('active')
                e.target.previousElementSibling.classList.toggle('inactive')
                addTotal()
                if (e.target.textContent == "Enable"){
                    e.target.textContent= "Disable"
                } else{
                    e.target.textContent = "Enable"
                }
            }

            function removeLine(){
                $('input[name="subtotal"]')[$('input[name="subtotal"]').length-1].parentNode.remove()
                count--
            }
            

        </script>
    </body>
</html>